/** @format */

.NewP {
  text-align: center;
  margin-bottom: 6%;
}
.NewP h1 {
  font-family: MonumentMineMine;
  font-size: 3.5rem;
}

.NewP p {
  font-size: 2rem;
  color: #ccc;
  font-family: FuturaMine;
}
.NewP h2{
  font-family: MonumentMineMine;
}

.child {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5% !important;
  margin-top: 3rem !important;
  gap: 20px;
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.child .month {
  font-size: 1.6rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-family: FuturaMine;
}

.child .month:hover {
  background-color: black;
  color: #fff;
}
